.diplomas {
    display: flex;
    gap: 20px;
}

.diplomas .project-img-real {
    width: 100%;
}

.iplogger {
    display: flex;
    gap: 20px;
}


.webhookss {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    overflow: hidden;   
}

.webhookss img {
    width: 220px;
    object-fit: contain;
    flex-shrink: 0;    
    border-radius: 8px;
    transition: transform 0.3s ease;
}


.webhookss img:hover {
    transform: scale(1.6);
    z-index: 10;
}


.projects-download {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.download-btn {
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
}

.download-btn:hover {
  transform: scale(1.05);
  background-color: #4fa1e0; /* tmavší odstín pro hover */
}

